/***** GENERAL STYLING *****/
html {
    scroll-behavior: smooth; /* This ensures that when a link is clicked the page will scroll smoothly to the target */
}

/* Body */
body {
    margin: 0%;  /* This ensures our site displays all the way to the edge of the browser screen */
    opacity: 1; /* This sets the opacity of the body to 1 */
    transition: 2.5s opacity; /* This makes the transition effect last 2.5 seconds */
    letter-spacing: .3vw; /* This expands the space between letters in the body text */
    font-family: avant garde, Helvetica; /* This sets the font family for the body text */
    overflow-x: hidden; /* This ensures that the body text does not overflow horizontally */
    user-select: none; /* This prevents the user from selecting text on the page */
}

body.fade-out {
    opacity: .1; /* This sets the opacity of the body to .1 */
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; /* Capitalizing all h1 headings */
    font-family: "Trebuchet MS", Optima; /* Sets the font family of all h1 headings */
    text-align: center; /* Centering all h1 elements */
    margin-top: 3%; /* Adds a small margin above h1 elements */
    color: #1a1a1a; 
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%); /* Adds a slightly gray filter to the h1 headings when hovered over */
    transform: scale(1.1); /* When the h1 elements are hovered over they increase in size by 1.1 */
    transition: transform 1s; /* This causes the transformation to last 1 second */
}

/* Styling for portfolio title text */
.white-text {
    color: #fff; /* This is used to change the color of the portfolio title text */
    padding-top: 10vh; /* This adds padding to the top of the portfolio title text */
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: .1vw; /* Expands the space between letters in paragraph elements */
    font-size: 2.5vw; /* Sets the font size of paragraph elements */
    padding-left: 1vw; /* Adds relative padding to the left of the paragraph element */  
    padding-right: 1vw; /* Adds relative padding to the right of the paragraph element */
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s; /* This makes the transform effect last 1 second */
	transform: scale(1.01); /* This makes the paragraphs increase slightly in size when hovered over */
}

/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center; /* This center aligns the text */
}

/* Center class hover effect - This only affects the quote, github link, and footer */
.center:hover {
    transition: transform 2s; /* This makes the transform effect last 2 seconds */
    transform: scale(1.1); /* This makes the elements with class "center" increase in size by 1.1 when hovered over */
}

/* Anchor elements */
a {
    color: blue; /* This ensures all links are blue */
    cursor: pointer; /* This changes the cursor to a pointer when hovering over links */
    text-decoration: underline; /* This underlines all links */
}

/* Quotation elements */
q {
    font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
    filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* Gives all images slightly rounded corners */
    max-width: 100%; /* Ensures all images stay within the width of their container */
    height: 100%; /* Ensures all images are 100% of the height of their container */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin: auto auto auto auto; /* This centers the images horizontally */
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 1s; /* Transition lasts 1 second */
	transform: scale(1.1); /* Image is increased slightly when hovered over */
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 2%; /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: white;
}
/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: black; /* This colors the navbar black */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on the screen */
}

/* Navbar links */
.Navbar a {
    float: left; /* This specifies that the text floats on the left on the navbar */
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white; /* This is the font color for text on our navbar */
    padding: 14px 16px; /* This adds padding around our text */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
    font-size: 20px; /* This specifies the font size for text on our navbar */
    text-align: center; /* This centers the text within its container */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 5.75s; /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.75s; /* Applies the moveNavText animation for 5.75s */ 
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4; /* Defines the background color that will display when you hover over the link */
    color: black; /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold; /* This makes the text on the navbar bold when hovered over */
    cursor: pointer; /* This changes the cursor to a pointer when hovering over the navbar links */
    transition: 0.5s ease-in; /* This makes the transition effect last 0.5 seconds */
}

/* Navbar home button */
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#Typing_Video {
    position: fixed; /* This fixes the video to the page */
    right: 0; /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0; /* This ensures no space between the bottom of the video and the bottom of the page */
    min-width: 100%; /* This ensures the video is displayed across the full width of the page */
    z-index: -1; /* This places the video behind the other elements on the page */
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.5); /* This provides a semi-transparent background for the text to sit over */
    color: white; /* Makes the font color white */
    width: 100%; /* Ensures the video-text container fills the width of the video */
    padding: 20px; /* This adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}
/***** END OF VIDEO STYLING *****/

/***** SLIDESHOW STYLE *****/

#Slideshow_Background {
    background: rgba(255, 255 , 255, 0.35); /* This provides a semi-transparent background for the slideshow */
}

.mySlides {
    display: none; /* This ensures that the slides are not displayed */
}

#Slideshow_Container {
    width: 39.5vw; /* This sets the width of the slideshow container to 39.5% of the viewport width */
    height: auto; /* This ensures the height of the slideshow container is automatically adjusted */
    padding-top: 4%; /* This adds padding to the top of the slideshow container */
    position: relative; /* This sets the slideshow container relative to its normal positioning */
    margin: auto; /* This centers the slideshow container horizontally */
}

#Slideshow_Container a {
    text-decoration: none; /* This gets rid of the underlines under the text on our slideshow */
}

.Slideshow_Images {
    vertical-align: middle; /* This aligns the images vertically in the slideshow */
    height: auto; /* This ensures the height of the images is automatically adjusted */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75); /* This adds a shadow to the images in the slideshow */
    width: 100%; /* This ensures the images are displayed at 100% of the width of the slideshow container */
}

.Previous, .Next {
    cursor: pointer; /* Changes cursor to pointer */
    position: absolute; /* This sets the position of the previous and next buttons to absolute */
    top: 50%; /* Moves buttons up in container */
    width: auto; /* adjusts button width based on screen size */
    padding: 2vw; /* Adds padding around the buttons */
    color: darkgray; /* Sets the color of the buttons to dark gray */
    font-weight: bold; /* Makes the font of the buttons bold */
    font-size: 1.5vw; /* Sets the font size of the buttons */
    border-radius: 0 3px 3px 0; /* Adds rounded corners to the buttons */
    user-select: none; /* Prevents the user from selecting the buttons */
    transition: 0.6s ease; /* This makes the transition effect last 0.6 seconds */
}

.Previous {
    Left: 0; /* This sets the position of the previous button to the left of the slideshow container */
    border: 3px 0 0 3px; /* This adds a border to the left of the previous button */
}

.Next {
    right: 0; /* This sets the position of the next button to the right of the slideshow container */
    border: 3px 3px 0 0; /* This adds a border to the right of the next button */
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* This sets the background color of the buttons to a semi-transparent black when hovered over */
    color: white; /* This sets the color of the buttons to white when hovered over */
}

.text {
    color: white; /* This sets the color of the text in the slideshow to white */
    padding: 1vw; /* This adds padding around the text in the slideshow */
    position: absolute; /* This sets the position of the text in the slideshow to absolute */
    bottom: 0; /* This sets the position of the text in the slideshow to the bottom of the slideshow container */
    width: 100%; /* This ensures the text in the slideshow spans the entire width of the slideshow container */
    text-align: center; /* This centers the text in the slideshow */
    font-family: perpetual, Rockwell Extra Bold; /* This sets the font family of the text in the slideshow */
    letter-spacing: .1vw; /* This expands the space between letters in the text in the slideshow */
    font-size: 1.5vw; /* This sets the font size of the text in the slideshow */
    background-color: rgba(0, 0, 0, 0.75); /* This provides a semi-transparent background for the text in the slideshow */
    font-weight: bold; /* This makes the text in the slideshow bold */
    border-radius: 0px 0px 7px 7px; /* This adds rounded corners to the text in the slideshow */
}

.dot {
    cursor: pointer; /* Changes cursor to pointer */
    height: 1vw; /* Sets the height of the dots in the slideshow to 1% of the viewport width */
    width: 1vw; /* Sets the width of the dots in the slideshow to 1% of the viewport width */
    margin: .25vw; /* Adds margin around the dots in the slideshow */
    background-color: white; /* Sets the background color of the dots in the slideshow to white */
    border-radius: 50%; /* Adds rounded corners to the dots in the slideshow */
    display: inline-block; /* This ensures the dots in the slideshow are displayed on the same line */
    transition: background-color 0.6s ease; /* This makes the transition effect last 0.6 seconds */
    z-index: 1; /* This ensures the dots in the slideshow are displayed above the slideshow images */
}

.activbe, .dot:hover {
    background-color: black; /* Sets the background color of the active dot in the slideshow to black */
}

.fade {
    animation-name: fade; /* This applies the fade animation below */
    animation-duration: 1.6s;   /* This sets the duration of the fade animation to 1.6 seconds */
    -webkit-animation-name: fade; /* This applies the fade animation for Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.6s; /* This sets the duration of the fade animation for Safari 4.0 - 8.0 */
}

@keyframes fade {
    from {opacity: .4;} /* This sets the opacity of the slideshow images to .4 */
    to {opacity: 1;} /* This sets the opacity of the slideshow images to 1 */
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* This sets the opacity of the slideshow images to .4 */
    to {opacity: 1;} /* This sets the opacity of the slideshow images to 1 */
}

/***** END OF SLIDESHOW STYLE *****/

/***** TABLE STYLE *****/
* { /* This applies the following styles to all elements */
    box-sizing: border-box; /* This ensures that the padding and border are included in the total width and height of the elements */
}

.Column_1 {
    float: left; /* This floats the column to the left */
    width: 50%; /* This sets the width of the column to 50% of the viewport width */
    padding 1.6%; /* This adds padding around the column */
    height: 450px; /* This sets the height of the column to 450px */
    background-color: #f2f2f2; /* This sets the background color of the column to a light gray */
}

.Column_2 {
    float: left; /* This floats the column to the left */
    width: 50%; /* This sets the width of the column to 50% of the viewport width */
    padding 1.6%; /* This adds padding around the column */
    height: 450px; /* This sets the height of the column to 450px */
    background-color: #4d4d4d; /* This sets the background color of the column to a dark gray */
}

.Row:after {
    content: ""; /* This adds blank content to the row */
    display: table; /* This displays the row as a table */
    clear: both; /* clears eleemnts from floating */
}

/***** END OF TABLE STYLE *****/

/***** CONTACT FORM STYLE *****/

.Pop_Up_Button {
    position: fixed; /* Fixes button relative to screen size. */
    bottom: 1.75vw; /* Sets the position of the button to 1.75% from the bottom of the viewport */
    right: 1.75vw; /* Sets the position of the button to 1.75% from the right of the viewport */
    width: 25vw; /* Sets the width of the button to 25% of the viewport width */
    background-color: white; /* Sets the background color of the button to white */
    color: black; /* Sets the color of the button text to black */
    border: solid black; /* Adds a solid black border around the button */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    -webkit-animation: movePopup 5s; /* Applies the movePopup animation below for Safari 4.0 - 8.0 */
    animation: movePopup 5s; /* Applies the movePopup animation for all other browsers */
}

@keyframes movePopup { /* This animation effect causes the contact form button to move in from the right of the screen */
    from {right: -40vw;} /* This sets the position of the button to 40% to the left of the viewport */
    to {right: 1.75vw;} /* This sets the position of the button to 1.75% from the right of the viewport */
}

@-webkit-keyframes movePopup { /* This animation effect causes the contact form button to move in from the right of the screen for Safari 4.0 - 8.0 */
    from {right: -40vw;} /* This sets the position of the button to 40% to the left of the viewport */
    to {right: 1.75vw;} /* This sets the position of the button to 1.75% from the right of the viewport */
}

.form-popup {
    z-index: 8; /* This ensures the contact form is displayed above all other elements */
    display: none; /* This ensures the contact form is not displayed */
    position: fixed; /* keeps position the same relative to screen/size */
    bottom: .5vw; /* Sets the position of the contact form to .5% from the bottom of the viewport */
    right: .5vw; /* Sets the position of the contact form to .5% from the right of the viewport */
}

.form-container {
    max-width: 49vw; /* Sets the maximum width of the contact form to 49% of the viewport width */
    padding: 1vw; /* Adds padding around the contact form */
    background-color: white;
}

.form-container input[type=text] {
    width: 100%; /* Sets the width of the text input fields to 100% */
    padding: .93vw; /* Adds padding around the text input fields */
    margin: .6vw 0 .6vw 0; /* Adds margin around the text input fields */
    border: none; /* Removes the border around the text input fields */
    background: gainsboro; /* Sets the background color of the text input fields to gainsboro */
    font-size: 1vw; /* Sets the font size relative to view size */
}

button {
    font-family: 'Trebuchet MS', "Optima"; 
    letter-spacing: .3vw; /* relative letter spacing */
    font-size: 1.5vw; /* Sets the font size relative to view size */
    font-weight: bold;
    padding: 1.5vw; /* Relative padding */
    cursor: pointer;
    width: 100%; /* Sets the width of the button to 100% of container*/
    height: auto; /* Sets the height of the button to automatically adjust */
} 

button:hover {
    color: white;
    background-color: black;
    transition-duration: 1s; /* Sets the duration of the transition effect to 1 second */
    -webkit-transition-duration: 1s; /* Samee as above for Safari */
    border-color: silver; /* Sets the border color of the button to silver */
}

.form-container .btn { /* targets submit button */
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* adds space between submit / close button */
}

.form-container .cancel { /* targets cancel button */
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover { /* hover effect for cancel button */
    background-color: darkred;
    color: white;
    transition-duration: 1s; /* one second transition for hover effect */
    -webkit-transition-duration: 1s; /* same as above for Safari */
    border-color: black;
}

/***** END OF CONTACT FORM STYLE *****/

/***** MEDIA SECTION *****/

/*MEDIA RULES FOR FOR DIFFERENT SCREEN SIZES*/

@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*END OF MEDIA RULES FOR FOR DIFFERENT SCREEN SIZES*/

/* NAVBAR DISPLAY FOR 1080px AND SMALLER*/
@media screen and (max-width: 1080px) {
    .Navbar a {
        width: 20%; /* reduces navbar link width to 20% */
        font-size: 2.5vw;
    }
}

/* ENLARGES FONT SIZE WITH LARGER SCREENS */
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* INCREASES COLUMN SIZE FOR LARGER SCREENS */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}


/* REMOVES MARGIN-TOP FROM H1 ELEMENTS WITH VERY LARGE SCREENS */
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}

/***** END OF MEDIA SECTION *****/
